
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */


.header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 6px;
    height: 72px;
    background-image: url("images/paper.jpg");
    /* background-size: 20%, 30%; */
    /* background-repeat: no-repeat, no-repeat; */
    width: 100%;
    border: 4px solid rgb(119, 72, 45);
    font-family: 'Condiment', cursive;
    position: fixed;
    top: 0;
    z-index: 999;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.setEmoji {
    display: inline-block;
}

#pinName {
    margin-right: 10px;
}

.footer {
    font-weight: bold;
    font-size: 18px;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-image: url("images/paper.jpg");
    color: black;
    text-align: center;
    border: 4px solid rgb(119, 72, 45);
    font-family: Arial, Helvetica, sans-serif;
}