
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

.header {
    font-weight: bold;
    height: 50px;
    background-color: white;
    /* background-size: 20%, 30%; */
    /* background-repeat: no-repeat, no-repeat; */
    width: 100%;
    border-bottom: 4px solid #ADD7D4;
    position: fixed;
    top: 0;
    z-index: 999;
	padding: 14px;
}

#map {
    height: 100%;
    top: 50px;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
}

.setEmoji {
    display: inline-block;
    font-size: 20px;

}

.form-control::-webkit-input-placeholder {
    color:black;
}

.form-control {
    color: black;
}

#dropdownMenu1 {
    background-color: rgb(255,204,33);
    color: black;
}

.abstract {
    font-weight: bold;
    text-decoration: underline;
}

.abstract,
.faces,
.food,
.nature,
.objects,
.places,
.symbols,
.tools,
.transportation {
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(238, 238, 238);
}

.input-group {
	width: 100%;
}

.dropdown-toggle {
	border: 2px solid #ADD7D4;
	width: 100%;
	color: #ADD7D4;
}


#delete {
    color: white;
}

.form-control {
	background-color: #ADD7D4;
}

.btn-primary {
	background-color: #41A46E;
	border: 2px solid #ADD7D4;
	width: 45%;
}

.btn-danger {
	background-color: #BF6050;
	border: 2px solid #ADD7D4;
	width: 45%;
	float: right;

}

